*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
  height: 100vh;
}

header{
    max-width: 1280px;
    margin: auto;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
  }   
  main{
    margin: auto;
    width: 1920px;
    height: 802.5px;
    position: absolute;
    top: 150px;
    left: 0px;
    background-color: #FFE3EB;
  }

.txt_inicio{
    position: absolute;
    top: 10px;
    left: 5px;
    width: 600px;
    height: 170px;
    font-size: 50px;
    text-align: left;
  }

  .txt_final{
    position: absolute;
    top: 725px;
    left: 700px;
    width: 550px;
    height: 70px;
    font-size: 50px;
    text-align: left;
  }

.icon_fone{
  position: absolute;
  text-align: center;
  top: 15px;
  left: 880px;
  height: 127px;
  width: 127px;
}

.menina{
  position: absolute;
  top: 250px;
  height: 500px;
  width: 300px;
}

.avançar{
  position: absolute;
  width: 102px;
  height: 102px;
  top: 5px;
  left: 1800px;
}
p{
position: absolute;
font-size: 22.5px;
text-align: center;
top: 105px;
left: 2px;
text-decoration: none;
}
.seta{
position: absolute;
width: 102px;
height: 102px;
top: 5px;
right: 5px;
}

.background{
  width: 1920px;
  height: 780px;
  position: absolute;
  top: 0px;
  left: 0px;
}