*{
    height:100vh;
    width: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
canvas {
    display: block;
  }
 
.uniforme{
    position: absolute;
    top: 5px;
   left: 5px; 
}  